<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Hello</h3>
<img id="img-of-the-day">
<form method="post" th:object="${newComment}">
    <label><h3>Author: </h3></label>
    <br>
    <input type="text" th:field="*{author}">
    <br>
    <label><h3>Comment: </h3></label>
    <br>
    <textarea th:field="*{content}">
    </textarea>
    <br>
    <input type="submit" value="Comment">
</form>
<div th:each="row : ${listComment}">
    <h3 th:text="${row.getContent()}"></h3>
    <p th:text="*{row.getLikes()}"></p> <a th:href="@{/increment/{id}(id = ${row.getId()})}">Like</a>
</div>
<script>
    let query = 'https://api.nasa.gov/planetary/apod?api_key=BejXyRtdiMXblCEFbpfWNbriSORZpmCehQN2frYC';
    let request = new XMLHttpRequest();
    request.open('GET', query);
    request.onload = function() {
        if (request.status === 200) {
            let response = JSON.parse(request.responseText);
            document.getElementById('img-of-the-day').setAttribute('src', response.url);
        }
    };
    request.send();
</script>
</body>
</html>